@import 'tailwindcss';

@theme inline {
   --font-inter: var(--font-inter);
   --font-noto: var(--font-noto-sans-jp);
   --font-sans: var(--font-plus-jakarta-sans);

   --color-anime-bg: #121212;
   --color-anime-text: #e4e7eb;
   --color-anime-primary: #a07cfe;
   --color-anime-secondary: #1a1d23;
}

body,
html {
   color: var(--color-anime-text);
   background: var(--color-zinc-950);
   display: flex;
   width: 100%;
   height: 100vh;
   max-height: 100vh;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
