@import 'tailwindcss';

@theme inline {
   --font-inter: var(--font-inter);
   --font-noto: var(--font-noto-sans-jp);
   --font-sans: var(--font-plus-jakarta-sans);

   --color-anime-bg: #121212;
   --color-anime-text: #e4e7eb;
   --color-anime-primary: #a07cfe;
   --color-anime-secondary: #1a1d23;
}

body,
html {
   color: var(--color-anime-text);
   background: var(--color-zinc-950);
   display: flex;
   width: 100%;
   min-height: 100dvh;
   height: 100dvh;
   max-height: 100dvh;
   margin: 0;
   padding: 0;
   overflow: hidden;
   overflow-x: hidden;
}

::-webkit-scrollbar {
   width: 5px; /* 縱向捲軸寬度 */
   height: 5px; /* 橫向捲軸高度 */
}

::-webkit-scrollbar-track {
   background: trasparent; /* 軌道顏色：深色半透明 */
}

::-webkit-scrollbar-thumb {
   background: transparent; /* 滑塊顏色：深色半透明 */
   border-radius: 10px; /* 圓角 */
}

::-webkit-scrollbar-thumb:hover {
   background: #9171e7ee; /* Hover 時變亮 */
}

/* 針對 Firefox */
* {
   scrollbar-width: thin;
   scrollbar-color: #9171e7 rgba(0, 0, 0, 0);
}
